<h1>Contact Us</h1>
<h2><%= @date %></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nihil, alias, ab a ullam ad dignissimos harum aperiam voluptatum temporibus cum quam rem laboriosam quibusdam consectetur sit hic fuga quo!</p>